# IDE
.idea/
.vscode/

# OS
.DS_Store

# Node
node_modules/

# Expo
.expo/
.expo-shared/

# env
.env

# OSRM
osrm/
*.osrm
*.osrm.*

# Logs
npm-debug.log*

# 백엔드
backend/api-python/__pycache__/
backend/api-python/**/__pycache__/
backend/api-python/*.pyc
backend/api-python/.env
backend/api-python/venv/